/* Основні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex; /* Використовуємо Flexbox */
    align-items: center; /* Вирівнюємо по вертикалі */
}


#menu-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 0; /* Кнопка притиснута до лівого краю */
}

/* Спливаюче вікно */
#popup-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}

/* Ховати вікно за замовчуванням */
.hidden {
    display: none;
}

#popup-menu ul {
    list-style: none;
    padding: 0;
}

#popup-menu ul li {
    margin: 10px 0;
}

#popup-menu ul li a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

#popup-menu ul li a:hover {
    text-decoration: underline;
}

#close-menu {
    background-color: #FF4B4B;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
