    <!DOCTYPE html>
    <html lang="uk">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ product.name }} - Продукт</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <!-- Хедер -->
      <header>
      <button id="menu-button">Меню</button>
      <button id="login-button"><a href="{% url 'login' %}">Sign Up</a></button>

      <h1 class="text-center"><a href="{% url 'index' %}">Click&Type</a></h1>
    </header>

    <main>
      <div
        id="popup-menu"
        class="hidden d-flex flex-column justify-content-between"
      >
        <ul class="list-unstyled mb-3">
          <li class="mb-2">
            <a href="{% url 'keyboard' %}" class="btn w-100">Клавіатури</a>
          </li>
          <li class="mb-2">
            <a href="{% url 'mouse' %}" class="btn w-100">Мишки</a>
          </li>
          <li>
            <a href="{% url 'headsets' %}" class="btn w-100">Гарнітури</a>
          </li>
        </ul>
        <button id="close-menu" class="btn w-100">Закрити</button>
      </div>

        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-6 text-center">
                    <img src="{{ product.image_url.url }}" alt="{{ product.name }}" class="img-fluid rounded" style="max-width: 300px; height: auto;">

                </div>
                <div class="col-md-6">
                    <h1 class="fw-bold title-color">{{ product.name }}</h1>
                    <p>
                        Ціна: {{ product.price }} грн <br>
                        Вага: {{ product.size }} г<br>
                        📦 Комплектація:<br>
                        <ul>
                            {% for item in product.bundle %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                        Час роботи: {{ product.battery_life }} год<br>
                        Підключення: {{ product.connection }}<br>
                        🚚 Доставка Новою Поштою
                    </p>
                    <button class="btn main-buy-button w-100 mt-3">Купити зараз</button>
                </div>
            </div>
        </div>
        </main>

        <footer>
            <p>&copy; 2024 Click&Type. Усі права захищено.</p>
            <p>Зв'язатися з нами: <a href="mailto:clicktype@gmail.com">clicktype@gmail.com</a></p>
            <p>Наші соцмережі: <a href="https://facebook.com">Facebook</a> | <a href="https://instagram.com">Instagram</a></p>
        </footer>
    </body>
    </html>