@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

body {
  font-family: "Nunito", sans-serif;
  background-color: #54575f;
  margin: 0;
  padding: 0;
}

/* Хедер */
header {
  background-color: #464952;
  padding: 15px;
  position: relative;
}

header a {
  font-weight: 800;
  color: #d4ac34;
  text-decoration: none;
}

/* Кнопка Login */
#login-button,
#menu-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #54575f;
  color: #fccc3e;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#login-button {
  right: 15px;
}

#menu-button {
  left: 15px;
}

/* Футер */
footer.footer {
  background: linear-gradient(to right, #333, #54575f);
  color: white;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  flex-wrap: wrap;
}

.footer-left,
.footer-right {
  flex: 1;
  text-align: center;
}

.footer a {
  color: #f0a500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ffcc00;
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.social-icons img {
  width: 28px !important;
  height: 28px !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 5px rgba(255, 165, 0, 0.5);
}

/* Картки товарів */
.product-card {
  background-color: #54575f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 25px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px #fccc3e;
}

.product-title,
.product-price {
  color: #fccc3e;
  font-size: 18px;
  margin: 10px 0;
}

.buy-button {
  background-color: #fccc3e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.buy-button:hover {
  background-color: #d4ac34;
}

/* Центрування блоків */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Заголовки */
.title-color {
  color: #d4ac34;
}

/* Клавіатури на головній сторінці */
.keyboards-hov {
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
  width: 80%;
  height: auto;
}

.keyboards-hov:hover {
  transform: scale(1.1);
}

/* Лінія розділення */
.line {
  height: 5px;
  width: 100%;
  background-color: #d4ac34;
  margin: 50px auto;
}