<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ваш кошик</title>
  </head>
  <body>
    <h1>Ваш кошик</h1>
    {% if cart_items %}
    <ul>
      {% for item in cart_items %}
      <li>
        {{ item.product.name }} - {{ item.quantity }} шт. - {{ item.total_price
        }} грн
        <a href="{% url 'remove_from_cart' item.id %}">Видалити</a>
      </li>
      {% endfor %}
    </ul>
    <p>Загальна сума: {{ total_price }} грн</p>
    {% else %}
    <p>Кошик порожній.</p>
    {% endif %}
    <a href="{% url 'home' %}">Продовжити покупки</a>
  </body>
</html>
