<!DOCTYPE html>
<html lang="uk">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Click&Type</title>
    <link rel="shortcut icon" href="{% static 'img/logo kolo.png' %}" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <!-- Хедер -->
    <header>
      <button id="menu-button">Меню</button>
      <button id="login-button"><a href="{% url 'login' %}">Sign Up</a></button>

      <h1 class="text-center"><a href="{% url 'index' %}">Click&Type</a></h1>
    </header>

    <main>
      <div
        id="popup-menu"
        class="hidden d-flex flex-column justify-content-between"
      >
        <ul class="list-unstyled mb-3">
          <li class="mb-2">
            <a href="{% url 'keyboard' %}" class="btn w-100">Клавіатури</a>
          </li>
          <li class="mb-2">
            <a href="{% url 'mouse' %}" class="btn w-100">Мишки</a>
          </li>
          <li>
            <a href="{% url 'headsets' %}" class="btn w-100">Гарнітури</a>
          </li>
        </ul>
        <button id="close-menu" class="btn w-100">Закрити</button>
      </div>

        <section>
            <div class="container">
                <div class="row">
                    {% for product in headsets %}
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="product-card headsets">
                           <img src="{% static product.image_url %}" alt="{{ product.name }}" class="product-image mouse-product-image">
                            <h3 class="product-title">{{ product.name }}</h3>
                            <p class="product-price">Ціна: {{ product.price }} грн</p>
                            <ul class="product-specs">
                                <li>Тип: {{ product.type }}</li>
                                <li>Підсвітка: {{ product.backlight }}</li>
                                <li>Підключення: {{ product.connection }}</li>
                            </ul>
                            <a href="{% url 'product_detail' product.id %}">
                                <button class="buy-button">Купити</button>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Click&Type. Усі права захищено.</p>
        <p>Зв'язатися з нами: <a href="mailto:clicktype@gmail.com">clicktype@gmail.com</a></p>
        <p>Наші соцмережі: <a href="https://facebook.com">Facebook</a> | <a href="https://instagram.com">Instagram</a></p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>