{% extends "base.html" %}
{% load static %}

{% block title %}Головна - Click&Type{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2 class="text-center title-color">Ласкаво просимо в Click&Type!</h2>
    <p class="text-center">Знайди свою ідеальну клавіатуру прямо зараз!</p>
    
    <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12">
          <img
              src="{% static 'img/головна 1.png' %}"
              alt="Клавіатура"
              class="keyboards-hov"
            />
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
            <img src="{% static 'img/головна 2.png' %}" alt="Клавіатура" class="keyboards-hov">
        </div>
    </div>

    <div class="line"></div>

    <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12">
            <video controls width="100%" height="100%">
                <source src="{% static 'img/bniohlv.mp4' %}" type="video/mp4">
                Ваш браузер не підтримує відео.
            </video>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
            <video controls width="100%" height="100%">
                <source src="{% static 'img/Untitled.mp4' %}" type="video/mp4">
                Ваш браузер не підтримує відео.
            </video>
        </div>
    </div>

    <div class="line"></div>

    <div class="row g-3">
        <div class="col-xl-6 col-md-6 col-sm-12">
            <p class="compani">
                Наша компанія спеціалізується на продажу якісних комп’ютерних девайсів, 
                зокрема механічних клавіатур, які відкривають новий рівень комфорту та 
                задоволення від використання. Ми пишаємося тим, що пропонуємо товари, яких 
                немає на українському ринку, забезпечуючи наших клієнтів унікальними можливостями.
            </p>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
            <p class="compani">
                Основний акцент ми робимо на швидкому обслуговуванні, тому ваше замовлення буде 
                оформлено оперативно та без зайвих турбот. Ми орієнтуємось на геймерів, які 
                цінують якість та функціональність. Наша місія – показати всім, що механічні 
                клавіатури – це не просто тренд, а must-have для кожного, хто проводить багато часу 
                за комп'ютером.
            </p>
        </div>
    </div>
</div>
{% endblock %}