<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Click&Type-Keyboard</title>

    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    <header>
      <button id="menu-button">Меню</button>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center">
              <a href="{% url 'index' %}">Click&Type</a>
            </h1>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div
        id="popup-menu"
        class="hidden d-flex flex-column justify-content-between"
      >
        <ul class="list-unstyled mb-3">
          <li class="mb-2">
            <a href="{% url 'keyboard' %}" class="btn w-100">Клавіатури</a>
          </li>
          <li class="mb-2">
            <a href="{% url 'mouse' %}" class="btn w-100">Мишки</a>
          </li>
          <li>
            <a href="{% url 'headsets' %}" class="btn w-100">Гарнітури</a>
          </li>
        </ul>
        <button id="close-menu" class="btn w-100">Закрити</button>
      </div>

      <section>
        <div class="container">
          <div class="row">
            {% comment %} Перший товар {% endcomment %}
            <div class="col-xl-4 col-md-6 col-sm-12">
              <div class="product-card">
                <img
                  src="{% static 'img/keyboards/AJAZZ  AK 820 PRO.jpg' %}"
                  alt="Клавіатура"
                  class="product-image"
                />
                <h3 class="product-title">AJAZZ AK820 PRO</h3>
                <p class="product-price">Ціна: 2200 грн</p>
                <ul class="product-specs">
                  <li>Тип: Механічна</li>
                  <li>Підсвітка: RGB</li>
                  <li>Підключення: Бездротове</li>
                </ul>
                <a href="{% url 'ajazz_ak820_pro' %}"
                  ><button class="buy-button">Купити</button></a
                >
              </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
              <div class="product-card">
                <img
                  src="{% static 'img/keyboards/AULA F75.webp' %}"
                  alt="Клавіатура"
                  class="product-image"
                />
                <h3 class="product-title">AULA F75</h3>
                <p class="product-price">Ціна: 2300 грн</p>
                <ul class="product-specs">
                  <li>Тип: Механічна</li>
                  <li>Підсвітка: RGB</li>
                  <li>Підключення: Бездротове</li>
                </ul>
                <a href="{% url 'aula_f75' %}"
                  ><button class="buy-button">Купити</button></a
                >
              </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
              <div class="product-card">
                <img
                  src="{% static 'img/keyboards/Royal Kludge R75.jpg' %}"
                  alt="Клавіатура"
                  class="product-image"
                />
                <h3 class="product-title">Royal Kludge R75</h3>
                <p class="product-price">Ціна: 2200 грн</p>
                <ul class="product-specs">
                  <li>Тип: Механічна</li>
                  <li>Підсвітка: RGB</li>
                  <li>Підключення: Дротове</li>
                </ul>
                <a href="{% url 'royal_kludge_r75' %}"
                  ><button class="buy-button">Купити</button></a
                >
              </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
              <div class="product-card">
                <img
                  src="{% static 'img/keyboards/AULA F87.jpg' %}"
                  alt="Клавіатура"
                  class="product-image"
                />
                <h3 class="product-title">AULA F87</h3>
                <p class="product-price">Ціна: 2200 грн</p>
                <ul class="product-specs">
                  <li>Тип: Механічна</li>
                  <li>Підсвітка: Одноколірна</li>
                  <li>Підключення: Бездротове</li>
                </ul>
                <a href="{% url 'aula_f87' %}"
                  ><button class="buy-button">Купити</button></a
                >
              </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
              <div class="product-card">
                <img
                  src="{% static 'img/keyboards/AJAZZ AK820 Pro MOA.jpg' %}"
                  alt="Клавіатура"
                  class="product-image"
                />
                <h3 class="product-title">AJAZZ AK820 Pro MOA</h3>
                <p class="product-price">Ціна: 2500 грн</p>
                <ul class="product-specs">
                  <li>Тип: Механічна</li>
                  <li>Підсвітка: RGB</li>
                  <li>Підключення: Бездротове</li>
                </ul>
                <a href="{% url 'ajazz_ak820_pro_moa' %}"
                  ><button class="buy-button">Купити</button></a
                >
              </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
              <div class="product-card">
                <img
                  src="{% static 'img/keyboards/AJAZZ  AK 820.jpg' %}"
                  alt="Клавіатура"
                  class="product-image"
                />
                <h3 class="product-title">AJAZZ AK820</h3>
                <p class="product-price">Ціна: 2200 грн</p>
                <ul class="product-specs">
                  <li>Тип: Механічна</li>
                  <li>Підсвітка: Одноколірна</li>
                  <li>Підключення: Дротове</li>
                </ul>
                <a href="{% url 'ajazz_ak820' %}"
                  ><button class="buy-button">Купити</button></a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Click&Type. Усі права захищено.</p>
      <p>
        Зв'язатися з нами:
        <a href="mailto:clicktype@gmail.com">clicktype@gmail.com</a>
      </p>
      <p>
        Наші соцмережі: <a href="https://facebook.com">Facebook</a> |
        <a href="https://instagram.com">Instagram</a>
      </p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
