{% extends "base.html" %}
{% load static %}

{% block title %}Мишки - Click&Type{% endblock %}

{% block content %}
<section>
    <div class="container mt-5">
        <h2 class="text-center title-color">Наші мишки</h2>
        <div class="row">
            {% for mouse in mice %}
            <div class="col-xl-4 col-md-6 col-sm-12 d-flex justify-content-center">
                <div class="product-card">
                    <div class="product-image-wrapper">
                        <img src="{% static mouse.image_url %}" alt="{{ mouse.name }}" class="mouse-product-image">
                    </div>
                    <h3 class="product-title">{{ mouse.name }}</h3>
                    <p class="product-price">Ціна: {{ mouse.price }} грн</p>
                    <ul class="product-specs">
                        <li>Підсвітка: {{ mouse.backlight }}</li>
                        <li>Підключення: {{ mouse.connection }}</li>
                    </ul>
                    <div class="button-container">
                        <!-- Додана кнопка "Додати в кошик" -->
                    <button class="add-to-cart btn btn-success"
                    data-id="{{ mouse.id }}" data-name="{{ mouse.name }}" data-price="{{ mouse.price }}">
                    Додати в кошик
                </button>
                    <a href="{% url 'product_detail' mouse.id %}">
                        <button class="buy-button">Купити</button>
                    </a>
                </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}